$color-ligth-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-dark: rgb(0, 0, 0);
$color-grid-row: grey;
$color-grid-col: orange;
$gutter-horizontal: 6rem;
$gutter-vertically: 8rem;
