.composition {
  position: relative;
  transition: all 0.2s;

  &:hover &__image:not(:hover) {
    transform: scale(0.95);
  }

  &__image {
    width: 55%;
    box-shadow: 0 1.5rem 3rem rgba($color-dark, 0.4);
    position: absolute;
    transition: all 0.2s;
    z-index: 10;

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      outline: 1.5rem solid $color-dark-green;
      outline-offset: 1.5rem;
    }

    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      top: 2rem;
      right: 0;
    }
    &--p3 {
      top: 14.5rem;
      left: 20%;
    }
  }
}
